<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="icon" href=/images/icon.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Dunnie Bogowsky, It uses data from opencage.com and weatherapi.com</p>
        <img class = "weather" src="/images/weather.png">
    </div>
    {{>footer}}
</body>

</html>